@media screen and (min-width: 1681px) and (max-width: 1920px) {
  .defaultContainer {
    .introSection {
      width: 60%;;
    }

    .introHDR {
      font-size: 5rem;
    }

    .introSubHDR {
      font-size: 3rem;
    }

    .introBTN {
      font-size: 2.5rem;
    }
  }

  #bodySection {
    height: 90vh;
  }
}