$backgroundColor: rgba(218, 175, 227, 0.6);
$hdrFont: 'Merriweather', serif;
$buttonFont: 'Bree Serif', serif;

body {
  background-image: url("../../../public/assets/images/purple_drops.jpg");
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

.defaultContainer {
  min-width: 100vw;
  min-height: 100vh;
  background-image: url("../../../public/assets/images/introWall.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-text-stroke-color: black;
  padding-top: 10%;

  .introSection {
    border: 2px solid black;
    background: rgba(0, 0, 0, 0.5);
    width: 50%;
    margin: auto;
    border-radius: 15px;
    padding: 3%;
  }

  .title {
    color: white;
    font-family: $hdrFont;
    text-align: center;
    margin: auto;
    font-weight: bold;
    -webkit-text-stroke-width: 1px;
  }

  .introSubHDR {
    margin-top: 10%;
  }

  .introBTNContainer {
    left:0;
    display: flex;
    justify-content: center;
  }

  .introBTN {
    border-right-width: medium;
    border-left-width: medium;
    border-color: white;
    color: white;
    font-family: $buttonFont;
    margin-top: 30%;
    -webkit-text-stroke-width: 0.7px;
  }

  a:visited {
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: 0.7px;
  }
}