@media screen and (min-width: 426px) and (max-width: 1024px) {
  .defaultContainer {
    .introSection {
      width: 80%;
      margin-top: 30%;
    }
  }

  #bodySection {
    height: 86vh;
  }
}

@media screen and (min-width: 0px) and (max-width: 999px) {
  #navbarResponsive {
    ul {
      li {
        a {
          color: white;
        }
      }
    }
  }
}