{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
    <div class="defaultContainer">
        <section class="introSection">
            <div class="title">
                <h1 class="introHDR">{{ header }}</h1>
                <h2 class="introSubHDR">{{ subHeader }}</h2>
            </div>

            <div class="introBTNContainer">
                <a href="{{ path('home') }}"><input id="introductionButton" class="btn btn-lg btn-success introBTN" type="submit" value="Come in!"></a>
            </div>
        </section>
    </div>

    {% block javascripts %}
        <script type="application/javascript">
            let introButton = document.getElementById('introductionButton');
            let currentScreen = screen.width;

            function mobileButtonSetter(screen) {
                if (screen <= 425) {
                    introButton.classList.remove('btn-lg');
                    introButton.classList.add('btn-md');
                } else {
                    introButton.classList.remove('btn-md');
                    introButton.classList.add('btn-lg');
                }
            }

            mobileButtonSetter(currentScreen);
        </script>
    {% endblock %}
{% endblock %}
